.car {
    &-service-first-heading {
        margin-bottom: 20px;
    }
    &-service-second-heading {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    &-service-para-group {
        p {
            line-height: 1.6;
            margin-bottom: 20px;
            @include desktop {
                margin-bottom: 38px;
            }
        }
    }
}
