.car {
    &-services {
        margin-top: 25px;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
        @include desktop {
            grid-template-columns: repeat(4,1fr);
            grid-column-gap: 15px;
            grid-row-gap: 20px;
        }
    }
    &-service-img-wrapper {
        margin-bottom: 25px;
        min-height: 100px;
        display: none;
        @include desktop{
            display: flex;
        }
    }
    &-service-title {
        font-size: 22px;
        margin-bottom: 10px;
        color: #222;
    }
    &-service-desc{
        margin-bottom: 10px;
        font-size: 18px;
        color: #444;
        line-height: 1.6;
    }
    &-service-cta-btn{
        padding: 10px 20px;
        line-height: 1.6;
        color: #2969b0;
        background-color: #ececec;
        font-size: 18px;
        &:hover {
            color: #29bafd;
        }
    }
    &-service-cta-number{ 
        margin-top: 10px;
    }
}