/* vehicle overview styling  */
.page-template-beyondvaluelisting .listing-overview-wrapper h2 {
    color: #3F3F3F;
}

.listing-overview-wrapper .overview-length-state-toggle {
    margin-left: 10px;
    color: #1f4a81;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
