$primaryColor: #1f4a81;
$secondaryColor: #5282B4;
$thirdColor: #408EE9;
$primaryColorLight: #1f4a81cc;
$btnHoverColor: #B8091B;
$featureBox: #408EE9cc;
$fourthColor: #03407C;
$fifthColor: #141414;
$sixthColor: #1592E6;
$seventhColor: #9dbde6;
$eightColor: #215188;
$topHeader: #163865;
$white : white;
// Grey Colors
$Grey1: #bbb;
$Grey2: #D7D7D7;
$Grey3: #707070;
$Grey4: #373737;
$Grey5: #3f3f3f;
$Grey6: #393939;
$Grey7: #F2F2F2;
$Grey8: #F5F5F5;
$Grey9: #CFCFCF;
$Grey10: #e1e1e1;
// Font Families
$helveticaFont: 'Helvetica Neue', 'Roboto', 'Open Sans';
$segoeFont: 'Segoe UI', 'Open Sans', arial;
$sansProFont: "Source Sans Pro", 'Open Sans', arial;
$tahomaFont: 'Tahoma', 'Open Sans', arial;
$interFont: 'Inter', sans-serif;
// Font sizes
$fontXSSM: 0.75rem; // equivalent to 12px in rem
$fontSM: 0.875rem; // equivalent to 14px in rem
$fontMD: 1rem; // equivalent to 16px in rem
$fontLG: 1.125rem; // equivalent to 18px in rem
$font20: 1.25rem; // equivalent to 20px in rem
$fontXL: 1.375rem; // equivalent to 22px in rem
$fontXXL: 1.5rem; // equivalent to 24px in rem
$font30: 1.875rem; // equivalent to 30px in rem
// Box shadows
$shadowPrimary: 3px 3px 10px #00000029;
$shadowSecondary: 0 3px 6px #00000029;
$shadowThird: 0 3px 8px #00000029;
// Extras
$letter-spacing-normal: 1px;