.content-page-banner {
    height: 380px;
    background-color: #00214a;
    background-clip: content-box;
    @include md {
        height: 255px;
    }

    & .position-absolute {
        width: calc(100% - 60px);
        left: 50%;
        transform: translateX(-50%);
        top: 15px;

        @include md {
            width: calc(100% - 96px);
            left: 48px;
            transform: unset;
        }

        @include lg {
            top: 25px;
            left: 60px;
            width: 50%;
        }
    }
    h1 {
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            font-size: 36px;
        }
    }
    p {
        font-size: $fontMD;
        @include md {
            font-size: $fontLG;
        }
    }
}
.content-page-container {
    padding: 25px 30px;
    @include md {
        padding: 40px;
    }
    @include lg {
        padding: 40px 60px;
    }
}