.details-action-icon {
    &:not(:last-child) {
        margin-right: 15px;

        @include md {
            margin-right: 35px;
        }
    }
}

.filter_pills {
    border: 1px solid #CFCFCF;
    box-shadow: 0 4px 4px #00000040;

    &:hover {
        background-color: #B8091B;
        color: white;
        border-color: #B8091B;
    }
}
.show-all-filters {
    &:hover {
        color: #B8091B;
    }
}
.slider-cta {
    bottom: 15px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.slider-images-counter {
    border: 1px solid $Grey3;
    padding: 8px 15px;
    box-shadow: 0 3px 3px #000000cc;
}

.listing-thumbnail-image-slider .slick-slide {
    height: 120px;
}

.listing-thumbnail-image-slider .slick-slide img {
    height: 100%;
    object-fit: cover;
}

.listing {
    &-thumbnail-image-slider {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.listing-thumbnail-slider-wrapper {
    .slick-list {
        margin: 0 -30px;
    }

    .slick-slide {
        margin: 0 15px;
    }
}

.see-all-images {
    right: 0;
    z-index: 1;
    background-color: #060606cc;
    border: 1px solid #707070;
    width: calc((100% - (2 * 30px)) / 3);

    @include md {
        width: calc((100% - (4 * 30px)) / 5);
    }
}

.hide-all-images {
    z-index: 1;
    width: calc((100% - (4 * 30px)) / 5);
    background-color: #060606cc;
    border: 1px solid #707070;
}

.listing-thumbnail-image-slider:not(.slick-initialized) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include md {
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }

    .hide-all-images {
        height: 103px;
    }
}

.meta-values-container {
    .col-12 span {
        flex: 1;
        width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .col-12 > span:first-child {
        width: 25%;
    }
    .col-12 > span:last-child {
        width: 75%;
        white-space: nowrap;
    }
}

.certified-badge-container {
    gap: 30px;

    * {
        width: 100%;

        @include lg {
            width: 33%;
        }
    }

    a {
        border: 1px solid #C4C4C4;
        background-color: #E1E1E1;
        padding: 10px 5px;
        text-decoration: underline;

    }
}

.description-box {
    border: 1px solid #E2E2E2;
}

.vdp-accordion {
    @include md {
        box-shadow: 0 4px 4px #00000040;
    }

    .card-header {
        border: 1px solid #707070;
    }

    .card-body {
        border: 1px solid #C9C9C9;
    }

    table {
        flex: 1;
    }

    .accordion-tables-container {
        @include md {
            gap: 30px;
        }
    }

    .card-header[aria-expanded="false"] {
        .fa-minus {
            display: none;
        }
    }

    .card-header[aria-expanded="true"] {
        .fa-plus {
            display: none;
        }
    }
}

.sticky-form-price {
    color: #007CC0;
}

.sticky-lead-form-invert {
    .fa-plus {
        background-color: #007CC0;
    }
}

.upgrade-vehicle {
    border: 1px solid #E1E1E1;
}

.tabs-pills-divider {
    height: 25px;
    width: 1px;
    background-color: $Grey3;
}

.vehicle-thumbnail {
    width: 35%;

    img {
        width: 100%;
        box-shadow: 3px 3px 4px #00000029;
        height: 100%;
        object-fit: contain;
    }

    .vehicle-liked-icon {
        top: 7px;
        left: 7px;
        width: 25px;
        height: auto;
        box-shadow: unset;
    }
}

.vehicle-content {
    width: calc(100% - 35%);
}

.remove-recent-view {
    right: 0;
    bottom: 0;
}

.beyondValueAccordion .card,
.vehicle-tabs-boxes,
.see-more-service-accessories,
.search-query-container,
.compare-box-container {
    border: 1px solid #E1E1E1;
}

.vehicle-tabs-boxes {
    border-bottom: unset;

    +div {
        border: 1px solid #e1e1e1;
        border-top: unset;
    }
}

.sidebar-accordion-header[aria-expanded="true"] {
    .chevron-icon {
        transform: rotate(180deg);
    }
}

.feature-card {
    border: 1px solid $Grey9;
}

.top-searches-container {
    p {
        display: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            border: 1px solid #E1E1E1;
            border-radius: 50px;
            padding: 5px 10px;
            background-color: $Grey8;
            color: $primaryColor;
            font-weight: bold;
            font-family: $segoeFont;
            margin-right: 20px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
    }
}

.meta-values-row {
    row-gap: 20px;
}

.accordion-card-thumbnail {
    width: 140px;
    flex: 1;

    +div {
        flex: 1;
    }
}
.detail-bar-action-icons {
    overflow: hidden;
    @include lg {
        overflow: visible;
    }
}
.detail-bar-action-icons img {
    width: 30px;
    min-width: 30px;
}

.filter-pills-cta {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter-pills-inner-wrapper {
    width: 90%;
}

.filter-pills-inner-wrapper li {
    display: flex;
}

.filter-pills-inner-wrapper li:nth-last-child(-n+2) {
    display: none;
}

.more-cars-found {
    color: #CC0000;
    white-space: pre;
}

.compare-another-vehicle-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.liked-vehicle-card {
    padding-bottom: 80px;
}

.liked-vehicle-availability {
    bottom: 0;
}

.remove-liked-view {
    bottom: 70px;
    right: 0;
}

.seperate-recommended-vehicles-card {
    display: none;
}
// Show specific accordion on specific tab active
.recent-view-active {
    #beyondValueAccordion,
    #productProtectionAccordion,
    #serviceAccessoriesAccordion,
    .my-garage-tab-wrapper
     {
        display: none;
    }
    .seperate-recommended-vehicles-card {
        display: block;
    }
}

.liked-vehicles-active {

    #beyondValueAccordion,
    #productProtectionAccordion,
    #serviceAccessoriesAccordion,
    .search-query-container ,
    .my-garage-tab-wrapper{
        display: none;
    }
}

.more-vehicle-form-box {
    border: 1px solid $sixthColor;
    border-radius: 10px;
}

.more-vehicles-btn-wrapper {
    gap: 50px;
}

.more-vehicle-details {
    .vehicle-more-container {
        display: block;
    }

    .custom-lead-capture-form,
    .vehicle-share-form {
        display: none;
    }
}

.share-vehicle-active {

    .vehicle-more-container,
    .custom-lead-capture-form {
        display: none;
    }

    .vehicle-share-form {
        display: block;
    }
}

.sidebar__form.share-vehicle-active {
    .vehicle-more-container {
        display: none;
    }

    .custom-lead-capture-form {
        display: none;
    }
}

.sidebar__form:not(.share-vehicle-active):not(.more-vehicle-details) {
    .custom-lead-capture-form {
        display: block;
    }

    .vehicle-share-form,
    .vehicle-more-container {
        display: none;
    }
}

.vehicle-share-form {

    a,
    button {
        border: 1px solid #e3e3e3;
    }
}

.vehicle-share-form button {
    background-color: #B8091B;
    border: 1px solid #707070;
}

.text-reveal-container,
.text-to-reveal {
    transition: all .3s;
}

.text-to-reveal {
    width: 0;
    right: 0;
}

.lightbox-slider-wrapper {
    z-index: 100000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    transition: all .35s;

    .listing-image-slider-wrapper .slick-list {
        height: fit-content;
    }

    .listing-thumbnail-image-slider .slick-list {
        height: fit-content;
        background-color: white;
        padding: 15px;
    }

    .listing-image-slider-wrapper {
        width: 100%;
        max-width: 900px;
        margin: auto;
    }

    .see-all-images {
        display: none !important;
    }

}

.lightbox-slider-hidden {
    transform: scale(0) translateX(-50%);
}

.lightbox-slider-active {
    transform: scale(1) translateX(-50%);
}

.lightbox-slider-overlay {
    background-color: black;
    top: 0;
    left: 0;
    z-index: 0;
}
.lightbox-slider-innercontainer {
    display: flex;
    align-items: center;
    height: 100%;
}
.lightbox-image-slider .slick-prev {
    left: 0;
}
.lightbox-image-slider .slick-next {
    right: 0;
}
.lightbox-image-slider {
    height: 50vh;
    width: 100%;
    margin: auto;
    @include lg {
        height: 60vh;
        width: 100%;
    }
    .slick-track,
    .slick-list {
        height: 100%;
    }

    .lightbox-image-slide {
        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
            max-width: 600px;
            display: block;
            margin: auto;
        }
    }
}

.lightbox-thumb-slider-wrapper {
    bottom: 0;
    padding: 1rem;
}

.close-slider-lightbox {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    right: 50px;
    top: 50px;
    z-index: 5;
}

.listing-thumbnail-slider-wrapper {
    .listing-thumbnail-image-slider.slick-initialized {
        .slider-counter-wrapper {
            display: none;
        }
    }
}

.feature-block {
    margin-bottom: 20px;

    @include lg {
        margin-bottom: 30px;
    }
}

// Add checkboxes in My Garage section
.single-listings {
    .select2-container--default .select2-results__option {
        padding-left: 35px;
        position: relative;
    }

    /* Add checkboxes using ::before pseudo-element */
    .select2-container--default .select2-results__option::before {
        content: '☐';
        color: black;
        font-size: 1.1rem;
        display: inline-block;
        margin-right: 8px;
        margin-left: 8px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    /* Add checked state for checkboxes */
    .select2-container--default .select2-results__option[aria-selected=true]::before,
    .select2-container--default .select2-results__option--selected::before{
        content: '☑';
        color: white;
    }
}


// My Garage Form styling
.select2-dropdown+span {
    width: 100%;
    display: block;
}
.select2-search__field {
    transform: translateY(-2px);
    height: 21px !important;
}
.select2-search__field::placeholder {
    color: $Grey6;
}
.my-garage-wrapper {
    .select2-selection--multiple {
        border-radius: 0;
        border-color: $Grey3;
        box-shadow: $shadowSecondary;
        min-height: 36px;
    }
    .select2-selection--multiple .select2-search--inline::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
        color: $primaryColor;
        font-size: 1rem;
    }
}


.garage-ball {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid $Grey3;
    cursor: pointer;

    &.garage-ball-active {
        background-color: #FFCC00;
    }
}
#sales-team-note {
    height: 130px;
}

span[data-name="garage-price-value"],
span[data-name="mygarage-timestamp"] {
    display: none;
}

.select2-container--open ul li.select2-results__option--selected {
    background-color: #FFCC00;
    color: black;
}
.my-garage-wrapper {
    input:not([type="submit"]) {
        font-size: $font20 !important;
        font-family: $interFont !important;
        color: $primaryColor !important;
        padding: .5rem !important;
        font-style: normal;
    }
    input[type="submit"] {
        padding: 12px 30px;
        text-transform: uppercase;
        color: white;
        border-radius: 0;
        outline: 0;
        background-color: $primaryColor;
        border-color: $primaryColor;
        font-style: normal;
        &:hover {
            background-color: #B8091B !important;
            color: #fff;
        }
    }
    input.VDP_range-filters {
        border: unset !important;
        background: transparent !important;
        padding: 0 !important;
        margin: 0 !important;
        height: auto !important;    
    }
}