.slick-dots {
    padding-bottom: unset !important;
    display: flex !important;
    z-index: 5 !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: -50px !important;
    @include tablet {
        bottom: -60px !important;
    }
    li {
        transition: all .4s !important;
    }
    li.slick-active button {
        background-color: #5282b3 !important;
        border: 2px solid #5282b3 !important;
        &::before {
            display: none;
        }
    }
    li button {
        padding: unset !important;
        width: 20px !important;
        height: 20px !important;
        background-color: transparent !important;
        border-radius: 50px !important;
        transition: all .5s !important;
        border: 2px solid #5282b3 !important;
        &::before {
            color: #d0d2d1 !important;
            border-radius: 50px !important;
            width: 12px !important;
            height: 12px !important;
            display: none;
        }
    }
}
