.inventory-filterbar__blue {
    background: #418eea;
}
.inventory-filterbar__red {
    background: #b00000;
}

.inventory-filterbar__green {
    background: #225722;
}

.inventory-filterbar__teal {
    background: #336a7e;
}

.inventory-filterbar__brown {
    background: #2d2d2d;
}

.inventory-filterbar__lightbrown {
    background: #613b06;
}

.inventory-filterbar__black {
    background: #000;
}


.inventory-filterbar__grey {
    background: #4a515b;
}

.inventory-filterbar__red {
    background: #800000;
}

.inventory-filterbar__silk {
    background: #afb184;
}

.inventory-filterbar__white {
    background: #fff;
    border: 1px solid #707070;
}

.inventory-filterbar__lightgreen {
    background: #5f6a5a;
}

.inventory-filterbar__lightgrey {
    background: #b6b6be;
}